<div class="bg-gray-900">
    <div class="card bg-gray-900 bg-cover rounded-none p-2 lg:card-side shadow-xl">
        <figure class="basis-3/6"><img src='../../../assets/consultancy.jpg' class="h-[300px]" alt="Album" /></figure>
        <div class="flex basis-3/6 flex-col gap-3 px-4 text-gray-50 ">
            <h2 class="card-title text-4xl mb-5">Consultancy</h2>
            <p class="text-xl">Let’s create new ways for business to do business</p>
            <div class=" ml-auto mr-4">
                <a routerLink="/services"><button class="btn btn-primary px-6">Get Back</button></a>
            </div>
        </div>
    </div>
</div>

